splitter-container
  splitter-secondary
    ul.nav.flex-column.p-1(style='flex-wrap: nowrap;')
      li.nav-item
        button.nav-link.btn.btn-link.shadow-none.px-0((click)='onExcelFileOpen(excelFileOpenTemplate)')
          i-bs.mr-1(name='file-earmark-excel')
          span Excelファイルを開く

  splitter-primary
    .container-fluid
      .row
        .col
          span テストテストテストテストテストテストテストテストテスト

ng-template(#excelFileOpenTemplate, let-modal)
  form(#excelFileOpenForm='ngForm')
    .modal-header.bg-primary.p-1
      h4.modal-title.text-light Excelファイルを開く
    .modal-body
      .custom-file
        input#excelFileInput.custom-file-input(type='file', [(ngModel)]='excelFile', name='excelFile', #excelFileModel='ngModel', observeFiles)
        label.custom-file-label(for='excelFileInput', data-browse='参照', required) ファイルを選択またはドロップしてください
        .invalid-feedback(*ngIf='excelFileModel?.errors?.required') 必須入力です。

    .modal-footer
      button.btn.btn-outline-dark.mr-auto(type='button', (click)='modal.close(false)') キャンセル
      button.btn.btn-outline-dark(type='button', (click)='modal.close(true)', [disabled]='excelFileOpenForm.invalid') 次へ
