splitter-secondary {
  // height: 100%;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // z-index: 2;
  flex: 0 0 auto;
  background-color: cyan;

  // overflow-x: hidden;
  overflow-y: auto;
}
